[submodule "bin/windows/x64/node"]
	path = bin/windows/x64/node
	url = git@github.com:EIGHTFINITE-Vendor/node.git
	branch = node-v8.9.4-win-x64
[submodule "bin/windows/x86/node"]
	path = bin/windows/x86/node
	url = git@github.com:EIGHTFINITE-Vendor/node.git
	branch = node-v8.9.4-win-x86
[submodule "bin/windows/x64/7z"]
	path = bin/windows/x64/7z
	url = git@github.com:EIGHTFINITE-Vendor/7z.git
	branch = 7z1604-x64
[submodule "bin/windows/x86/7z"]
	path = bin/windows/x86/7z
	url = git@github.com:EIGHTFINITE-Vendor/7z.git
	branch = 7z1604
[submodule "bin/all/all/library-unpacker"]
	path = bin/all/all/library-unpacker
	url = git@github.com:EIGHTFINITE-Vendor/library-unpacker.git
	branch = 1.1
[submodule "bin/windows/x64/jre/jre-8u201-windows-x64/jre1.8.0_201/lib/applet"]
	path = bin/windows/x64/jre/jre-8u201-windows-x64/jre1.8.0_201/lib/applet
	url = git@github.com:EIGHTFINITE/void.git
[submodule "bin/windows/x86/jre/jre-8u201-windows-i586/jre1.8.0_201/lib/applet"]
	path = bin/windows/x86/jre/jre-8u201-windows-i586/jre1.8.0_201/lib/applet
	url = git@github.com:EIGHTFINITE/void.git
