* text=false
/.gitattributes export-ignore
/.gitconfig export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.mailmap export-ignore
/.npmignore export-ignore
/.npmrc export-ignore
/docs/archive/ export-ignore
/docs/scripts/ export-ignore
/README.md export-ignore
/.github/ export-ignore
/.github/* linguist-vendored
/bin/* linguist-vendored
/node_modules/* linguist-vendored
/package-lock.json linguist-vendored
