* text=false
/.gitattributes text working-tree-encoding=UTF-8 eol=lf
/.gitignore text working-tree-encoding=UTF-8 eol=lf
/.gitmodules text working-tree-encoding=UTF-8 eol=lf
/.mailmap text working-tree-encoding=UTF-8 eol=lf
/.npmignore text working-tree-encoding=UTF-8 eol=lf
/.npmrc text working-tree-encoding=UTF-8 eol=lf
/.nsprc text working-tree-encoding=UTF-8 eol=lf
/AUTHORS.txt text working-tree-encoding=UTF-8 eol=lf
/downloadlist.json text working-tree-encoding=UTF-8 eol=lf
/index.bat text working-tree-encoding=UTF-8 eol=crlf
/index.js text working-tree-encoding=UTF-8 eol=lf
/LICENSE.txt text working-tree-encoding=UTF-8 eol=lf
/MIT-0.txt text working-tree-encoding=UTF-8 eol=lf
/package.json text working-tree-encoding=UTF-8 eol=lf
/package-lock.json text working-tree-encoding=UTF-8 eol=lf
/PATENTS.txt text working-tree-encoding=UTF-8 eol=lf
/README.html text working-tree-encoding=UTF-8 eol=lf
/README.md text working-tree-encoding=UTF-8 eol=lf
/.github/*.json text working-tree-encoding=UTF-8 eol=lf
/.github/*.md text working-tree-encoding=UTF-8 eol=lf
/.github/*.sh text working-tree-encoding=UTF-8 eol=lf
/.github/*.yml text working-tree-encoding=UTF-8 eol=lf
/.github/CODEOWNERS text working-tree-encoding=UTF-8 eol=lf
/docs/legal/*.txt text working-tree-encoding=UTF-8 eol=lf
/lib/*.js text working-tree-encoding=UTF-8 eol=lf
/lib/dl/*.js text working-tree-encoding=UTF-8 eol=lf
/.gitattributes export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.mailmap export-ignore
/.npmignore export-ignore
/.npmrc export-ignore
/.nsprc export-ignore
/AUTHORS.txt export-ignore
/LICENSE.txt export-ignore
/MIT-0.txt export-ignore
/PATENTS.txt export-ignore
/README.html export-ignore
/README.md export-ignore
/downloadlist.json export-ignore
/index.bat export-ignore
/index.js export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/.github/ export-ignore
/bin/linux/ export-ignore
/bin/windows/x64/7z/ export-ignore
/bin/windows/x64/electron/ export-ignore
/bin/windows/x64/node/ export-ignore
/docs/ export-ignore
/extensions/ export-ignore
/lib/ export-ignore
/node_modules/ export-ignore
/.github/ linguist-vendored
/.github/* linguist-vendored
/bin/ linguist-generated
/bin/* linguist-generated
/node_modules/ linguist-generated
/node_modules/* linguist-generated
/package-lock.json linguist-generated
