* text=false
/.gitattributes export-ignore
/.gitconfig export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.mailmap export-ignore
/.npmignore export-ignore
/.npmrc export-ignore
/README.md export-ignore
/docs/archive/ export-ignore
/docs/scripts/ export-ignore
/node_modules/npm-next/ export-ignore
/node_modules/npm-next-6/ export-ignore
/.github/ export-ignore
/.github/ linguist-vendored
/.github/* linguist-vendored
/bin/ linguist-generated
/bin/* linguist-generated
/node_modules/ linguist-vendored
/node_modules/* linguist-vendored
/package-lock.json linguist-generated
