all = true
audit = false
bin-links = false
cache = .npm
cache-max = 0
engine-strict = true
fund = false
ignore-scripts = true
include[] = prod
legacy-bundling = true
legacy-peer-deps = true
offline = true
only = prod
optional = false
prefer-dedupe = true
prefer-online = true
production = true
save-bundle = true
save-prod = true
save-exact = true
searchstaleness = 0
update-notifier = false
