/.gitattributes
/.gitconfig
/.gitignore
/.gitmodules
/.mailmap
/.npmignore
/.npmrc
/.git/
/.github/
/.npm/
/docs/archive/
/docs/scripts/
/_download/
/minecraft/
/server/
/MultiMC/
/README.md
/main.bat
*.lnk
