all = true
audit = false
bin-links = false
cache = .npm
engine-strict = true
fund = false
ignore-scripts = true
include[] = prod
install-links = true
legacy-peer-deps = true
offline = true
omit[] = dev
omit[] = optional
omit[] = peer
prefer-dedupe = false
prefer-offline = true
save-bundle = true
save-prod = true
save-exact = true
searchstaleness = 0
update-notifier = false
