all = true
audit = false
bin-links = false
cache = .npm
cache-max = 0
engine-strict = true
fund = false
ignore-scripts = true
include[] = prod
install-links = true
legacy-peer-deps = true
lockfile-version = 1
offline = true
only = prod
omit[] = dev
omit[] = optional
omit[] = peer
optional = false
prefer-dedupe = false
prefer-online = true
production = true
save-bundle = true
save-prod = true
save-exact = true
scripts-prepend-node-path = true
searchstaleness = 0
update-notifier = false
