general {
    # Comma separated list of items that do not give off light when dropped and in water, have to be present in Light Items.
    S:"Items Turned Off By Water"=torch,lava_bucket

    # Comma separated list of items that shine light when dropped in the World or held in player's or mob's hands.
    S:"Light Items"=torch,glowstone=12,glowstone_dust=10,lit_pumpkin,lava_bucket,redstone_torch=10,redstone=10,golden_helmet=14,easycoloredlights:easycoloredlightsCLStone=-1

    # Optifine has a Dynamic Lights of its own.  This mod will turn itself off if Optifine is loaded.
    # Set this to true if you aren't going to use Optifine's Dynamic Lights (even though they work just as well!).
    B:"Optifine Override"=true

    # Update Interval time in milliseconds. The lower the better and costlier.
    I:"Update Interval"=0
}
