name: "npm"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.2
      with:
        path: DownloadItYourself
    - name: install
      shell: bash
      run: |
        cd DownloadItYourself
        bash --noprofile --norc -e -o pipefail .github/workflows/git-config.sh
        git fetch --depth 1 origin +refs/tags/artifacts:refs/tags/artifacts --no-tags
        git restore --source=artifacts -- bin/
        bash --noprofile --norc -e -o pipefail .github/workflows/actions-npm.sh
        node_version=$(cat package.json | python -c "import sys, json; print(json.load(sys.stdin)['engines']['node'])")
        cat bin/linux/x64/node/node-v$node_version-linux-x64/bin/node.* > bin/linux/x64/node/node-v$node_version-linux-x64/bin/node
        chmod +x bin/linux/x64/node/node-v$node_version-linux-x64/bin/node
        bin/linux/x64/node/node-v$node_version-linux-x64/bin/node node_modules/npm/bin/npm-cli.js ls || true
        rm -rf .npm/
        # Ignore peerDependencies
        sed -i '/"peerDependencies": {/,/}/d' -- 'package.json'
        cd ..
        echo '{
          "private": "true"
        }' > package.json
        cp DownloadItYourself/.npmrc .npmrc
        DownloadItYourself/bin/linux/x64/node/node-v$node_version-linux-x64/bin/node DownloadItYourself/bin/linux/x64/node/node-v$node_version-linux-x64/lib/node_modules/npm/bin/npm-cli.js install ./DownloadItYourself
        rm DownloadItYourself/bin/linux/x64/node/node-v$node_version-linux-x64/bin/node
        rm -rf .npm/
  audit:
    runs-on: ubuntu-latest
    needs: [install]
    if: ${{ needs.install.result == 'success' }}
    steps:
    - uses: actions/checkout@v6.0.2
    - name: audit
      shell: bash
      run: |
        bash --noprofile --norc -e -o pipefail .github/workflows/git-config.sh
        git fetch --depth 1 origin +refs/tags/artifacts:refs/tags/artifacts --no-tags
        git restore --source=artifacts -- bin/
        bash --noprofile --norc -e -o pipefail .github/workflows/actions-npm.sh
        bash --noprofile --norc -e -o pipefail .github/workflows/actions-audit.sh
