name: "uBlock Origin"

on:
  schedule:
    - cron: '0 0 * * *'

permissions: write-all

jobs:
  ublock-origin:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - name: "uBlock Origin"
      shell: bash
      run: |
        bash --noprofile --norc -e -o pipefail .github/workflows/git-config.sh
        ublock_origin_version=$(curl -sS "https://api.github.com/repos/gorhill/uBlock/releases/latest" | python -c "import sys, json; print(json.load(sys.stdin)['tag_name'])")
        echo "$ublock_origin_version"
        sed -i "0,/\"ublock-origin-version\": \".*\"/s//\"ublock-origin-version\": \"$ublock_origin_version\"/" downloadlist.json
        git add downloadlist.json
        git -c user.name="GitHub" -c user.email="noreply@github.com" commit --author="github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>" -m"Update uBlock Origin to $ublock_origin_version" || true
        echo "ublock_origin_version=$ublock_origin_version" >> $GITHUB_ENV
    - id: cpr
      uses: peter-evans/create-pull-request@v7.0.9
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: Update README
        author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
        committer: GitHub <noreply@github.com>
        title: "Update uBlock Origin to ${{ env.ublock_origin_version }}"
        body: |
          Update uBlock Origin to the latest version found on https://github.com/gorhill/uBlock/releases
          
          Changelog: https://github.com/gorhill/uBlock/blob/master/CHANGELOG.md
        labels: automerge
        branch: actions/ublock-origin
        base: master
    - name: get repository name
      if: ${{ steps.cpr.outputs.pull-request-number }}
      shell: bash
      run: echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV
    - name: automerge
      if: ${{ steps.cpr.outputs.pull-request-number }}
      uses: actions/github-script@v8.0.0
      with:
        script: |
          github.rest.pulls.merge({
            owner: '${{ github.repository_owner }}',
            repo: '${{ env.REPOSITORY_NAME }}',
            pull_number: '${{ steps.cpr.outputs.pull-request-number }}',
            sha: '${{ steps.cpr.outputs.pull-request-head-sha }}',
            merge_method: 'merge'
          })
